/********** font montserrat **********/
@mixin montserrat {
  font-family: "Montserrat", sans-serif;
}

/********** font poppins **********/
@mixin poppins {
  font-family: "Poppins", sans-serif;
}

/********** font inter **********/
@mixin inter {
  font-family: "Inter", sans-serif;
}

/********** transition 500ms ease in out **********/
@mixin transition500 {
  transition: all 500ms ease-in-out;
}

/********** transition 350ms ease **********/
@mixin transition350 {
  transition: all 350ms ease;
}

/********** transition 425ms ease **********/
@mixin transition425 {
  transition: all 425ms ease;
}

/********* mixin box shadow *********/
@mixin shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/********* mixin box shadow_button *********/
@mixin shadow_button {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.55);
}
