$primary_color: #101010; //noir
$primary100_color: #01161e; //noir background
$primary200_color: #476c9b; //fond bleu foncé background
$secondary_color: #ffffff; //blanc
$secondary100_color: #fcfcfc; //blanc light
// $fourth_color: #89d2dc; //bleu clair
$fourth_color: #a2d6f9; //bleu clair
