/* couleurs de base*/
$primary_color: #0d1321; // rich black title
$primary200_color: #1d70a2; // nouveau bleu v2 background
$secondary_color: #ffffff; // blanc
$secondary100_color: #fdfffc; // blanc light
$secondary200_color: #ecebe4; // gris light
$fourth_color: #a2d6f9; // bleu clair

/* couleurs option*/
$sass_color: #ef27a6; // couleur pour icon sass
$react_color: #61dafb; // couleur pour icon react
$github_color: #181717; // couleur pour icon github
$nodejs_color: #68a063; // couleur pour icon nodejs
$js_color: #f7df1e; // couleur pour icon javascript

// $primary200_color: #0081a7; // nouveau bleu v2 background
