@import "../utils/mixins.scss";
@import "../utils/variables.scss";

.contact_section,
.contact_section_form {
  width: 100%;
  margin: 0 auto;
}
.contact_section {
  max-width: 1600px;
  padding: 60px 20px 0px;
}
.contact_section_form {
  max-width: 900px;
  padding: 100px 20px;
}
