@import "../utils/mixins.scss";
@import "../utils/variables.scss";

.mentions {
  width: 100%;
  max-width: 1240px;
  margin: 10px auto 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: text-align 300ms ease-out;
  @media screen and (max-width: 768px) {
    text-align: left;
  }
  h3 {
    color: $primary_color;
    font-size: 2em;
    font-weight: 600;
    transition: font-size 300ms ease-out;
    @media screen and (max-width: 768px) {
      font-size: 1.65em;
    }
  }
  p {
    color: $secondary100_color;
    font-size: 1.25em;
    font-weight: 400;
    max-width: 1024px;
    margin: 0 auto;
    @media screen and (max-width: 768px) {
      font-size: 1.1em;
    }
  }
}
