@import "../utils/mixins.scss";
@import "../utils/variables.scss";

.caroussel {
  @include shadow;
  width: 100%;
  max-width: 1240px;
  height: 600px;
  margin: 50px auto 50px;
  position: relative;
  border-radius: 25px;
  animation: delayCaroussel 1000ms ease;
  @keyframes delayCaroussel {
    0% {
      opacity: 0;
      width: 0;
    }
    100% {
      opacity: 1;
      width: 100%;
    }
  }
  &_img {
    width: 100%;
    height: inherit;
    object-fit: cover;
    border-radius: 25px;
  }
  .arrow {
    width: 75px;
    height: 75px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    filter: drop-shadow(1px 1px 1px $primary100_color);
  }
  .arrowLeft {
    left: 20px;
  }
  .arrowRight {
    right: 20px;
  }
  .slide_indicator {
    @include shadow_button;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    color: $secondary100_color;
    background-color: $primary100_color;
    font-size: 1.1em;
    font-weight: 600;
    padding: 7px 22px;
    border: 2px solid $fourth_color;
    border-radius: 25px;
    opacity: 0.98;
  }
}
