@import "../utils/mixins.scss";
@import "../utils/variables.scss";

.contact_text {
  width: 100%;
  margin: 100px auto 0;
  display: flex;
  flex-direction: column;
  gap: 15px;

  h1 {
    color: $primary_color;
    font-size: 5em;
    font-weight: 600;
    margin-bottom: 70px;
  }
  .text_top,
  .text_bottom {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 10px;
    color: $secondary100_color;
    font-size: 1.4em;
    font-weight: 400;
  }
  .text_bottom {
    margin: 0 auto 100px;
    padding-bottom: 30px;
    border-bottom: 1px dashed $fourth_color;
  }
  .text_question,
  .text_answer {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    color: $primary_color;
    font-size: 1.5em;
    font-weight: 600;
  }
  .text_answer {
    border-bottom: 1px dashed $fourth_color;
    padding-bottom: 20px;
    margin-bottom: 50px;
  }
}
.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
