@import "../utils/mixins.scss";
@import "../utils/variables.scss";

.contact_text {
  width: 100%;
  max-width: 825px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;

  h1 {
    color: $primary_color;
    font-size: 2.8em;
    font-weight: 600;
    margin-bottom: 30px;
  }
  .text_top,
  .text_bottom {
    color: $secondary100_color;
    font-size: 1.15em;
    font-weight: 400;
  }
  .text_bottom {
    margin: 10px 0 30px 0;
    padding-bottom: 30px;
    border-bottom: 1px dashed $fourth_color;
  }
  .text_question,
  .text_answer {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    color: $primary_color;
    font-size: 1.4em;
    font-weight: 500;
  }
  .text_answer {
    border-bottom: 1px dashed $fourth_color;
    padding-bottom: 20px;
  }
}
.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
