@import "../utils/mixins.scss";
@import "../utils/variables.scss";

/****** bouton générique ******/
.button,
.button_overlay,
.contact_button,
.button_project {
  @include inter;
  @include shadow_button;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 400ms ease-out, color 400ms ease;
}

/****** bouton page d'accueil ******/
.button {
  color: $secondary100_color;
  background-color: transparent;
  border: 2px solid $fourth_color;
  border-radius: 25px;
  font-size: 1.6em;
  padding: 8px 30px;
  &:hover {
    color: $primary200_color;
    background-color: $secondary100_color;
  }
}

/****** bouton overlay projectpage ******/
.button_overlay {
  color: $primary_color;
  background-color: transparent;
  border: 2px solid $secondary100_color;
  border-radius: 12px;
  font-size: 2em;
  padding: 9px 70px;
  &:hover {
    background-color: $primary200_color;
    color: $secondary100_color;
  }
}

/****** bouton onepageproject ******/
.button_project {
  background-color: $primary_color;
  color: $secondary100_color;
  border: 2px solid $fourth_color;
  border-radius: 25px;
  font-size: 1.2em;
  padding: 8px 40px;
  &:hover {
    background-color: $secondary100_color;
    color: $primary_color;
  }
}
/****** bouton formulaire de contact ******/
.contact_button {
  width: 100%;
  max-width: 300px;
  color: $primary_color;
  background-color: $primary200_color;
  border: 2px solid $fourth_color;
  border-radius: 25px;
  font-size: 1.6em;
  padding: 8px 30px;
  margin: 0 auto;
  &:hover {
    background-color: $secondary100_color;
    color: $primary200_color;
  }
}

/****** bouton vers le site David Web Projects ******/
.buttonWebsite {
  color: $secondary100_color;
  background-color: $primary_color;
  border: 2px solid $fourth_color;
  border-radius: 25px;
  font-size: 1.6em;
  padding: 8px 30px;
  &:hover {
    color: $primary_color;
    background-color: $secondary100_color;
  }
}
