@import "../utils/mixins.scss";
@import "../utils/variables.scss";

.footer {
  width: 100%;
  height: 120px;
  background-color: $primary100_color;

  &_content {
    width: 100%;
    max-width: 1600px;
    height: inherit;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_copyright {
      color: $secondary100_color;
      font-size: 1.3em;
    }
  }
}
